<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Explore the Cosmos</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div>
			<img class="space" src="/img/homepage.jpg" alt="your cosmos">
			<img class="spaceship" src="/img/Spaceship.png" id="spaceship" alt="your spaceship to travel the stars">
			<div>
				<div class="container">
					<div class="text">
						<h1>Picture of the Day</h1>
						<input type="date" name="" value="">
						<button type="button" class="getPhoto" name="button">Get Media</button>
						<iframe class="spacevid" src="" frameborder="0"></iframe>
						<button type="button" class="toggle" name="button">Get Out of Your Spacecraft</button>
					</div>
				</div>

				<div class="desc">

					<h2></h2>
					<h3></h3>
				</div>
			
			</div>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
